{%- assign genres = include.genres -%}
{%- if genres and genres.size > 0 -%}
{%- if include.format == "text" -%}
<p class="media-card-genres">
  <span class="media-card-genres-lead">{%- include icon.html name="tag" -%}{% if genres.size == 1 %}Genre{% else %}Genres{% endif %}</span>
  <span class="media-card-genres-list">
    {%- for genre in genres -%}
      {%- assign genre_label = genre | replace: "-", " " -%}
      {%- assign genre_url = site.data.genre_urls[genre] -%}
      {%- unless genre_url -%}
        {%- capture genre_url -%}https://en.wikipedia.org/wiki/Special:Search?search={{ genre_label | uri_escape }}&go=Go{%- endcapture -%}
      {%- endunless -%}
    <a class="chip" href="{{ genre_url }}">{{ genre_label }}</a>
    {%- endfor -%}
  </span>
</p>
{%- else -%}
<span class="media-genres">
{%- for genre in genres -%}
  {%- assign genre_label = genre | replace: "-", " " -%}
  {%- assign genre_url = site.data.genre_urls[genre] -%}
  {%- unless genre_url -%}
    {%- capture genre_url -%}https://en.wikipedia.org/wiki/Special:Search?search={{ genre_label | uri_escape }}&go=Go{%- endcapture -%}
  {%- endunless -%}
<a class="chip" href="{{ genre_url }}">{{ genre_label }}</a>
{%- endfor -%}
</span>
{%- endif -%}
{%- endif -%}
