{%- assign places = include.places -%}
{%- assign places_join = include.join -%}
{%- assign names_only = include.names_only -%}
{%- for place in places -%}
{%- include_cached media-link.html text=place.name url=place.url inline=true -%}
{%- unless names_only -%}
{%- if place.country and place.country != place.name -%}
<span class="media-place-sep"> - </span>{%- include media-country-link.html country=place.country label=place.country_label url=place.country_url -%}
{%- endif -%}
{%- endunless -%}
{%- unless forloop.last -%}{%- if places_join -%}<span class="media-inline-sep">{{ places_join }}</span>{%- else -%}<br/>{%- endif -%}{%- endunless -%}
{%- endfor -%}
