{%- assign label_title = include.title -%}
{%- assign label_project = include.project -%}
{%- assign label_icon = include.icon -%}
{%- if label_project -%}
  {%- if label_project.emoji -%}
    {%- assign label_title = label_title | replace: label_project.emoji, "" -%}
  {%- endif -%}
  {%- if label_project.emoji_alt -%}
    {%- assign label_title = label_title | replace: label_project.emoji_alt, "" -%}
  {%- endif -%}
  {%- assign label_title = label_title | strip -%}
  {%- if include.project_icon -%}
    {%- assign label_icon = label_project.icon -%}
  {%- else -%}
    {%- assign label_icon = "portfolio" -%}
  {%- endif -%}
{%- endif -%}
{%- if label_icon -%}
  {%- include_cached icon.html name=label_icon -%}
{%- endif -%}
{{ label_title | escape }}
