{%- assign current_year = site.time | date: "%Y" | plus: 0 -%}
{%- assign year_blob = "" -%}
{%- for i in (0..9) -%}
  {%- assign y = current_year | minus: i -%}
  {%- assign year_blob = year_blob | append: y | append: " " -%}
{%- endfor -%}
{%- assign rows = year_blob | split: " " | compact -%}

{%- assign books_total = 0 -%}
{%- assign music_total = 0 -%}
{%- assign games_total = 0 -%}
{%- assign movies_total = 0 -%}
{%- assign travels_total = 0 -%}
{%- assign posts_total = 0 -%}

<div class="media-table-wrap">
<table class="stats-table">
  <thead>
    <tr>
      <th>Year</th>
      <th>Books read</th>
      <th>Music listened</th>
      <th>Games played</th>
      <th>Movies watched</th>
      <th>Trips taken</th>
      <th>Posts</th>
    </tr>
  </thead>
  <tbody>
    {%- for year in rows -%}
      {%- if year == "" -%}{%- continue -%}{%- endif -%}
      {%- include stats-count.html data=site.data.books year=year -%}{%- assign books_n = stats_count -%}
      {%- include stats-count.html data=site.data.music year=year skip_subtitle="Single" -%}{%- assign music_n = stats_count -%}
      {%- include stats-count.html data=site.data.games year=year unique_key="title" -%}{%- assign games_n = stats_count -%}
      {%- include stats-count.html data=site.data.movies year=year -%}{%- assign movies_n = stats_count -%}
      {%- include stats-count.html data=site.data.travels year=year -%}{%- assign travels_n = stats_count -%}
      {%- assign posts_n = 0 -%}
      {%- for post in site.posts -%}
        {%- assign post_year = post.date | date: "%Y" -%}
        {%- if post_year == year -%}
          {%- assign posts_n = posts_n | plus: 1 -%}
        {%- endif -%}
      {%- endfor -%}
      {%- assign books_total = books_total | plus: books_n -%}
      {%- assign music_total = music_total | plus: music_n -%}
      {%- assign games_total = games_total | plus: games_n -%}
      {%- assign movies_total = movies_total | plus: movies_n -%}
      {%- assign travels_total = travels_total | plus: travels_n -%}
      {%- assign posts_total = posts_total | plus: posts_n -%}
    <tr>
      <td>{{ year }}</td>
      <td>{%- if books_n > 0 -%}{{ books_n }}{%- endif -%}</td>
      <td>{%- if music_n > 0 -%}{{ music_n }}{%- endif -%}</td>
      <td>{%- if games_n > 0 -%}{{ games_n }}{%- endif -%}</td>
      <td>{%- if movies_n > 0 -%}{{ movies_n }}{%- endif -%}</td>
      <td>{%- if travels_n > 0 -%}{{ travels_n }}{%- endif -%}</td>
      <td>{%- if posts_n > 0 -%}{{ posts_n }}{%- endif -%}</td>
    </tr>
    {%- endfor -%}
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <th>{{ books_total }}</th>
      <th>{{ music_total }}</th>
      <th>{{ games_total }}</th>
      <th>{{ movies_total }}</th>
      <th>{{ travels_total }}</th>
      <th>{{ posts_total }}</th>
    </tr>
  </tfoot>
</table>
</div>
